name: CD
on:
  push:
    branches: [main]
jobs:
    build:
      name: Build
      runs-on: ubuntu-latest
      steps:
        - name: checkout
          uses: actions/checkout@v2

        - name: build image and push to docker hub
          uses: docker/build-push-action@v1.v1.0
          with:
            username: richardneves
            password: ${{ secrets.DOCKER_PASSWORD }}
            repository: richardneves/argocd
            tags: ${{  github.sha }}, latest
